<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.charlotte3517.hotelbooking.dao.DailyRoomAvailabilityDao">

    <resultMap id="DailyRoomAvailabilityResult" type="com.github.charlotte3517.hotelbooking.model.DailyRoomAvailability">
        <id property="roomAvailabilityId" column="room_availability_id" jdbcType="INTEGER"/>
        <result property="hotelId" column="hotel_id" jdbcType="INTEGER"/>
        <result property="roomTypeId" column="room_type_id" jdbcType="INTEGER"/>
        <result property="stayDate" column="stay_date" jdbcType="DATE"/>
        <result property="availableRooms" column="available_rooms" jdbcType="INTEGER"/>
        <result property="soldRooms" column="sold_rooms" jdbcType="INTEGER"/>
        <result property="bookableRooms" column="bookable_rooms" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getAllDailyRoomAvailabilities" resultMap="DailyRoomAvailabilityResult">
        SELECT * FROM Daily_Room_Availability
    </select>

    <select id="getDailyRoomAvailabilityById" resultMap="DailyRoomAvailabilityResult">
        SELECT * FROM Daily_Room_Availability WHERE room_availability_id = #{roomAvailabilityId}
    </select>

    <insert id="insertDailyRoomAvailability" parameterType="com.github.charlotte3517.hotelbooking.model.DailyRoomAvailability">
        INSERT INTO Daily_Room_Availability (hotel_id, room_type_id, stay_date, available_rooms, sold_rooms, bookable_rooms)
        VALUES (room_avail_seq.nextval, #{roomTypeId}, #{stayDate}, #{availableRooms}, #{soldRooms}, #{bookableRooms})
    </insert>

    <update id="updateDailyRoomAvailability" parameterType="com.github.charlotte3517.hotelbooking.model.DailyRoomAvailability">
        UPDATE Daily_Room_Availability
        SET hotel_id = #{hotelId}, room_type_id = #{roomTypeId}, stay_date = #{stayDate},
        available_rooms = #{availableRooms}, sold_rooms = #{soldRooms}, bookable_rooms = #{bookableRooms}
        WHERE room_availability_id = #{roomAvailabilityId}
    </update>

    <delete id="deleteDailyRoomAvailability">
        DELETE FROM Daily_Room_Availability WHERE room_availability_id = #{roomAvailabilityId}
    </delete>

</mapper>
