<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.charlotte3517.hotelbooking.dao.OrderDao">

    <resultMap id="OrderResult" type="com.github.charlotte3517.hotelbooking.order.model.Order">
        <id property="orderId" column="order_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="hotelId" column="hotel_id" jdbcType="INTEGER"/>
        <result property="checkInDate" column="check_in_date" jdbcType="DATE"/>
        <result property="checkOutDate" column="check_out_date" jdbcType="DATE"/>
        <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
        <result property="createdAt" column="created_at" jdbcType="DATE"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="updatedAt" column="updated_at" jdbcType="DATE"/>
        <result property="updatedUserId" column="updated_user_id" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getAllOrders" resultMap="OrderResult">
        SELECT * FROM Hotel_Order
    </select>

    <select id="getOrderById" resultMap="OrderResult">
        SELECT * FROM Hotel_Order
         WHERE order_id = #{orderId}
    </select>

    <insert id="insertOrder">
        <selectKey keyProperty="order.orderId" resultType="int" order="BEFORE">
            SELECT hotel_order_seq.nextval FROM dual
        </selectKey>
        INSERT INTO Hotel_Order (
                    order_id, hotel_id, check_in_date,
                    check_out_date, user_id, total_price,
                    status, is_paid, created_at,
                    created_user_id)
             VALUES (#{order.orderId}, #{order.hotelId}, #{order.checkInDate},
                     #{order.checkOutDate}, #{userId}, #{order.totalPrice},
                     'R', 0, current_timestamp, #{userId})
    </insert>

    <update id="updateOrder" parameterType="com.github.charlotte3517.hotelbooking.order.model.Order">
        UPDATE Hotel_Order
           SET check_in_date = #{order.checkInDate},
               check_out_date = #{order.checkOutDate},
               total_price = #{order.totalPrice},
               updated_at = current_timestamp,
               updated_user_id = #{userId}
         WHERE order_id = #{order.orderId}
    </update>

    <delete id="deleteOrder">
        DELETE FROM Hotel_Order
         WHERE order_id = #{orderId}
    </delete>

    <update id="updateOrderStatusAndPaymentStatus">
        UPDATE Hotel_Order
        SET status = #{status},
            is_paid = #{isPaid},
            updated_at = current_timestamp,
            updated_user_id = #{userId}
        WHERE order_id = #{orderId}
    </update>



</mapper>
