<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.charlotte3517.hotelbooking.dao.OrderDetailDao">

    <resultMap id="OrderDetailResult" type="com.github.charlotte3517.hotelbooking.order.model.OrderDetail">
        <id property="detailId" column="order_detail_id" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="INTEGER"/>
        <result property="roomTypeId" column="room_type_id" jdbcType="INTEGER"/>
        <result property="roomQuantity" column="room_quantity" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="DECIMAL"/>
        <result property="createdAt" column="created_at" jdbcType="DATE"/>
        <result property="createUserId" column="create_user_id" jdbcType="INTEGER"/>
        <result property="updatedAt" column="updated_at" jdbcType="DATE"/>
        <result property="updatedUserId" column="updated_user_id" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getAllOrderDetails" resultMap="OrderDetailResult">
        SELECT * FROM Order_Detail
    </select>

    <select id="getOrderDetailsByOrderId" resultMap="OrderDetailResult">
        SELECT * FROM Order_Detail WHERE order_id = #{orderId}
    </select>

    <select id="getOrderDetailById" resultMap="OrderDetailResult">
        SELECT * FROM Order_Detail WHERE order_detail_id = #{detailId}
    </select>

    <insert id="insertOrderDetail">
        INSERT INTO Order_Detail (
               order_detail_id, order_id, room_type_id,
               room_quantity, price, created_at,
               created_user_id)
        VALUES (order_detail_seq.nextval, #{orderDetail.orderId}, #{orderDetail.roomTypeId},
                #{orderDetail.roomQuantity}, #{orderDetail.price}, current_timestamp,
                #{userId})
    </insert>

    <update id="updateOrderDetail" parameterType="com.github.charlotte3517.hotelbooking.order.model.OrderDetail">
        UPDATE Order_Detail
           SET order_id = #{orderId},
               room_type_id = #{roomTypeId},
               room_quantity = #{roomQuantity},
               price = #{price},
               updated_at = #{updatedAt}, updated_user_id = #{updatedUserId}
         WHERE order_detail_id = #{detailId}
    </update>

    <delete id="deleteOrderDetail">
        DELETE FROM Order_Detail WHERE order_detail_id = #{detailId}
    </delete>

</mapper>
